<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Document Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Axes Column -->
        <ng-container matColumnDef="axes">
          <th mat-header-cell *matHeaderCellDef> Axes </th>
          <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
        </ng-container>

        <!-- Sous Axes Column -->
        <ng-container matColumnDef="sousAxes">
          <th mat-header-cell *matHeaderCellDef> Sous axes </th>
          <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
        </ng-container>

        <!-- KPI Column -->
        <ng-container matColumnDef="kpi">
          <th mat-header-cell *matHeaderCellDef> KPI </th>
          <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
        </ng-container>

        <!-- Measure Column -->
        <ng-container matColumnDef="measure">
          <th mat-header-cell *matHeaderCellDef> Measure </th>
          <td mat-cell *matCellDef="let element"> {{element[3]}} </td>
        </ng-container>

        <!-- Unit Column -->
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let element"> {{element[4]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
    <mat-tab-group>
      <ng-container *ngFor="let group of kpiDataGrouped | keyvalue">
        Budget et Performance Financière
        <ng-container *ngIf="group.key">
          <mat-tab label="{{ group.key }}" *ngIf="group.key != 'Architecture SI'">
            <div *ngIf="group.key == 'Organisation et staffing'">
              <app-staffing [data]="[group]"></app-staffing>
              Budget et Performance Financière
            </div>
            <div *ngIf="group.key == 'Budget et Performance Financière'" >
              <app-finance [data]="[group]"></app-finance>
            </div>
            <div *ngIf="group.key == 'Processus IT'">
              <app-processus-it></app-processus-it>
            </div>
            <div *ngIf="group.key == 'Outils et applications'">
              <app-outils-et-applications></app-outils-et-applications>
            </div>
          </mat-tab>
        </ng-container>
      </ng-container>
    </mat-tab-group>
  </mat-card>
</div>
