<ng-container>
  <!-- Grouped bar chart for "Nbre total des ressources", "Nombre de compétences clés", "Nombre de Demandes Traitées" -->
  <mat-card class="chart-card">
    <mat-card-content class="chart-content">
      <ngx-charts-gauge
        [view]="gaugeView"
        [results]="gaugeData"
        [min]="gaugeMin"
        [max]="gaugeMax"
        [units]="gaugeUnits">
      </ngx-charts-gauge>
    </mat-card-content>
  </mat-card>

  <!-- Gauge chart for "Taux d'occupation par semaine", "Taux d'occupation par heures" -->
  <mat-card class="chart-card">
    <mat-card-content class="chart-content">
      <ngx-charts-line-chart
        [view]="lineChartView"
        [results]="lineChartData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
      </ngx-charts-line-chart>
    </mat-card-content>
  </mat-card>
</ng-container>
