.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-form {
  width: 350px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  animation: slide-up 0.5s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  background-color: #1976d2;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 16px;
}

.title {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #757575;
}

.mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-field {
  width: 100%;
}

.login-button {
  width: 100%;
  border-radius: 0 0 10px 10px;
  background-color: #1976d2;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #1565c0;
}

.form-field input {
  border-radius: 5px;
}

.form-field .mat-form-field-underline {
  display: none;
}

.form-field .mat-form-field-subscript-wrapper {
  margin-top: -16px;
}

.form-field .mat-input-element {
  color: #333;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #757575;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #1976d2;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #1976d2;
}

.mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #f44336;
}

.mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-label {
  color: #f44336;
}
