/* CSS for the chart card */
.chart-card {
  width: 100%; /* Make the card full width */
  display: flex; /* Use flexbox to center the chart */
  justify-content: center; /* Center the chart horizontally */
  align-items: center; /* Center the chart vertically */
  margin: 10px;
}

/* CSS for the chart content */
.chart-content {
  height: 700px; /* Increase the height of the chart */
  width: 100%; /* Make the chart full width */
  display: flex; /* Use flexbox to center the chart */
  justify-content: center; /* Center the chart horizontally */
  align-items: center; /* Center the chart vertically */
}
