<div class="container">
  <!-- Test Success and Availability Chart -->
  <ngx-charts-bar-vertical
    [view]="view"
    [results]="testSuccessAvailabilityChartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [yAxisLabel]="yAxisLabel"
    >
  </ngx-charts-bar-vertical>

  <!-- User Satisfaction Chart -->
  <ngx-charts-pie-chart
    [view]="view"
    [results]="userSatisfactionChartData"
    [gradient]="gradient"
    [legend]="showLegend"
    [labels]="showLegend"
    [doughnut]="true"
    [explodeSlices]="false"
    >
  </ngx-charts-pie-chart>

  <!-- Tool Adoption and Usage Chart -->
  <ngx-charts-bar-vertical
    [view]="view"
    [results]="toolAdoptionUsageChartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [yAxisLabel]="yAxisLabel"
    >
  </ngx-charts-bar-vertical>

  <!-- Security Vulnerabilities Chart -->
  <ngx-charts-bar-vertical
    [view]="view"
    [results]="securityVulnerabilitiesChartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [yAxisLabel]="yAxisLabel"
    >
  </ngx-charts-bar-vertical>
</div>
